---
layout: default
---

<div id="bg" class="container">
  <div class="row">
      <img src="/assets/images/hero-image.svg">
      <p>A collection of <br>notes on <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='["VSEPR", "recursion", "atoms", "evolution", "planarians", "quicksort", "nerve cells", "equilibrium", "DNA", "CRISPR-Cas9", "radiometric dating", "waves", "ArrayLists", "cell transport", "meiosis", "lipids", "enthalpy", "periodicity", "nucleotides"]'></span>.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for category in site.category reversed %}
      <a href="{{category.url}}">
        <div class="col-md-6">
          <div class="panel panel-default category-panel">
            <div class="panel-body">
              <h4 class="panel-title">{{category.long_title}}</h4>
              <div class="underline" style="background-color: {{category.color}}"></div>
              <p class="panel-text">
                {{category.description}}
              </p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <div id="about">
    <h1 id="about-title">About</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="question-answer">
          <h4>What is studyguides.science?</h4>
          <p>It's a a collection of notes and studyguides on biology and chemistry. Use it however you want (well, preferably in an ethical fashion).</p>
        </div>
        <div class="question-answer">
          <h4>Where did you get these notes?</h4>
          <p>I took these notes while taking biology and chemistry honors myself. Much of the information is based on Google, Holt California Biology Textbook, and Modern Chemistry Textbook.</p>
          <p>Creds to <a href="https://www.youtube.com/channel/UCbDYp7zoLXz5T41LKHnJUQA" target="_blank">Ashley Xu</a> for her APCS notes.</p>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="question-answer">
          <h4>Other information</h4>
          <ul>
            <li>I don't own any of the images, they belong to their respective owners</li>
            <li>I can't vouch for information being 100% accurate. Please don't sue if you don't get an 800.</li>
            <li>Illustration from <a href="https://undraw.co" target="_blank">Undraw.co</a>. Fellow designers - it's seriously amazing, check it out.</li>
          </ul>
        </div>
        <p><strong>Psst! If you attend Paly, be sure to check out <a href="https://paly.win" target="_blank">paly.win</a>, a (1) blazing fast (2) mobile friendly (3) actually navigatable website for checking the PALY calendar and more.</strong></p>
      </div>
    </div>
  </div>
  {% include footer.html %}

  <script src="/assets/js/main.js"></script>