<div id="footer" class="{{include.class}}">
	<hr>

	<!-- {% include logo-icon.html width="50px" height="49px" id="footer-logo"%} -->
	<br>
	<div class="row">
		<div class="col-sm-5 col-xs-3">
			<img src="/assets/images/cat.png" height="50px" id="cat"/>
		</div>
		<div class="col-sm-7 col-xs-9" id="footer-text">
			<div class="footer-text" id="footer-contact"><a href="mailto:hello@studyguides.science">hello@studyguides.science</a></div>
			<div class="footer-text" id="footer-copyright">&#xa9; 2017 studyguides.science. All rights reserved.</div>
			<p id="made-by">
		  		Made by <a href="https://olivia.js.org">the creator of</a> <a href="https://readlio.com">Readlio.com</a>
			</p>
		</div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>