<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				{% include logo-icon.html width="20px" height="20px" id="nav-logo"%}
				studyguides.science
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-area" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-area">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/#guides">Guides</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="mailto:hello@studyguides.science">Contact</a></li>
				<li><a href="https://github.com/oliviachang29/studyguides"><img src="/assets/images/github.png" width="20px" height="auto"></a></li>
			</ul>
		</div>
	</div>
</nav>