
#footer {
	/*border-top: 1px solid gray;*/
	/*background-color: #fff;*/
	color: #BDBDBD;
	padding: 8px;
	text-align: center;
	padding-bottom: 3em;
	/*margin: 0px 30%;*/
}

#footer-logo {
	margin-bottom: 1em;
}