.iframe-container {
	position: absolute; 
	top: 7em; 
	left: 0; 
	right: 0;
	bottom: 0; 
	background-color: white 
}
.iframe-container iframe {
	margin: 0 auto;
	display: block;
	width: 80%; 
	height: 90%; 
	border: none;
	background-color: #fff;
}

.iframe-container-landscape {
	position: absolute; 
	top: 7em; 
	left: 0; 
	right: 0;
	bottom: 0; 
	background-color: white 
}

.iframe-container-landscape iframe {
	display: block;
	width: 10%; 
	height: 100%; 
	border: none;
}

.guide-title {
	margin: 0 auto;
	text-align: center;
}

.guide-ad {
	margin-top: 51%;
}