#bg {
  color: white;
  padding: 8em 0 5em;
  z-index: 0;
  .row {
    display: flex;

    @media only screen and (min-width: 992px) {
      flex-direction: row;
    }

    @media only screen and (max-width: 992px) {
      align-items: center;
      flex-direction: column;
    }
  }
  img {
      width: 50%;

      @media only screen and (min-width: 992px) {
        height: 40vh;
        margin-left: 10vh;
        width: 50vh;
      }

      @media only screen and (min-width: 1200px) {
        margin-right: 100px;
      }
  }

  p {
      font-weight: bold;
      width: 80%;
      margin: 0 auto;
      text-align: center;

      margin-top: 30px;
      font-size: 24px;
      line-height: 30px;

      @media only screen and (min-width: 992px) {
        margin-top: 100px;
        margin-left: 50px;
        font-size: 50px;
        line-height: 64px;
        text-align: left;
      }
  }
}

#logo {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.underline {
    width: 5em;
    height: 4px;
    margin-top: 10px;
    border-radius: 20px;
}

#about-title {
    display: flex;
    flex-direction: row;
    margin: 30px 0 15px;
}

#cat {
    margin-right: 15px;
}

.category-panel {
    padding-bottom: 1em;
    @media only screen and (min-width: 992px) {
        min-height: 200px;
    }

    @media only screen and (min-width: 1200px) {
        min-height: 250px;
    }
}

.panel-title {
    font-size: 24px;
    color: #000;
}

.panel-text {
    color: #4A4A4A;
    margin-top: 24px;
}

.question-answer {
    margin-bottom: 24px;
}