#bg {
  /*background-size: cover;
  background-image:url('/assets/images/icons.png');
  background-repeat:no-repeat;
  background-position:center;*/
  color: white;
  padding: 8em 0 5em;
  z-index: 0;
  .row {
    @media only screen and (min-width : 768px) {
      display: flex;
      align-items: center;
    }
  }
  img {
    width: 100%;
    @media only screen and (max-width : 768px) {
      width: 50%;
      margin-left: 25%;
    }
  }
  p {
    font-size: 56px;
    line-height: 64px;
    font-weight: bold;
    margin-left: 5%;
    @media only screen and (max-width : 768px) {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }
  }
}

#logo {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.underline {
  width: 5em;
  height: 4px;
  margin-top: 10px;
  border-radius: 20px;
}

#underline-bio {
  background-color: #5F7692;
}

#underline-chem {
  background-color: #795F92; 
}

#about-title {
  display: flex;
  flex-direction: row;
  margin: 30px 0 15px;
}

#cat {
  margin-right: 10px;
}

.category-panel {
  padding-bottom: 1em;
  @media only screen and (min-width : 992px) {
    min-height: 300px;
  }
  @media only screen and (min-width : 1200px) {
    min-height: 260px;
  }
}

.panel-title {
  font-size: 24px;
  color: #000;
}

.panel-text {
  color: #4A4A4A;
  margin-top: 24px;
}

.question-answer {
  margin-bottom: 24px;
}
