@font-face {
	font-family: 'Colfax';
	src: url('../fonts/Colfax-Regular.ttf')  format('truetype');
	font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax';
  src: url('../fonts/Colfax-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}

h1, h4 {
	line-height: 30px;
	font-weight: bold;
}

a {
	transition: .3s all;
	&:hover {
		text-decoration: none;
		opacity: 0.5;
	}
}

p {
	color: #4A4A4A;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}

li {
	color: #4A4A4A;
	font-weight: 300;
	font-size: 15px;
}

strong {
	font-weight: 300;	 
	font-size: 15px;
}
