---
layout: default
---

{% for guide in site.categories[page.category] %}
    <a href="{{ guide.url | absolute_url }}">
      {{ guide.title }}
    </a>
{% endfor %}

<div class="subheading" style="background-color: {{page.color}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p id="breadcrumbs">
          <a href="/"><strong>Home</strong></a> 
          / {{page.title}}
        </p>
        <h1 id="subheading-title">{{page.title}}</h1>
        <p id="subheading-description">{{page.description}}</p>
      </div>
      <div class="col-sm-6">

        <div class="box">
          <div class="container-1">
              <span class="icon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="search" class="search" id="search" placeholder="Search..." />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <table class="content table results">
    <p class="no-result">No results.</p>
    <tbody>
      <div class="row">
        {% if page.category == "biology" %}
          {% assign collection = site.biology %}
        {% elsif page.category == "chemistry" %}
          {% assign collection = site.chemistry %}
        {% elsif page.category == "apcs" %}
          {% assign collection = site.apcs %}
        {% endif %}
        {% for guide in collection %}
            <tr>
              <td>
                  <a href="{{ guide.url }}">
                    <!-- Otherwise won't show hover anim for some reason -->
                    <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h4 class="panel-title">{{ guide.title | escape }}</h4>
                        <p class="panel-text">{{ guide.description }}</p>
                      </div>
                      </div>
                    </div>
                  </a>
              </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% include footer.html %}