---
layout: default
---
{% for guide in site.categories[page.category] %}
    <a href="{{ guide.url | absolute_url }}">
      {{ guide.title }}
    </a>
{% endfor %}


<div class="subheading" style="background-color: {{page.color}}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p id="subheading-title">{{page.title}}</p>
        <p id="subheading-description">{{page.description}}</p>
        <p id="breadcrumbs">
          <a href="{{site.url}}">Home</a> 
          > {{page.title}}
        </p>
      </div>
      <div class="col-sm-6">

        <div class="box">
          <div class="container-1">
              <span class="icon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="search" class="search" id="search" placeholder="Search..." />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <table class="content table results">
    <p class="no-result">No results.</p>
    <tbody>
      <div class="row">
        {% if page.title == "Biology" %}
          {% assign collection = site.biology %}
        {% else %}
          {% assign collection = site.chemistry %}
        {% endif %}
        {% for guide in collection %}
            <tr>
              <td>
                  <a href="{{ guide.url }}">
                    <div class="panel panel-default bio-chem-panel">
                      <div class="panel-body">
                        <p class="panel-title">{{ guide.title | escape }}</p>
                        <div class="underline" style="background-color: {{page.color}}"></div>
                        <p class="panel-text">{{ guide.description }}</p>
                      </div>
                      </div>
                  </a>
              </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

<script type="text/javascript" src="/assets/js/search.js"></script>

</div>