---
layout: default
---
{% capture cat_name %}{{page.categories}}{% endcapture %}
{% assign category = site.category | where: "title", cat_name | first %}
<div class="subheading" style="background-color: {{color}}">
  <div class="container">
    <p id="breadcrumbs">
      <a href="/">Home</a>
      /
      <a href="/category/{{page.categories}}">{{category.long_title}}</a>
      /
      <strong>{{ page.title }}</strong>
    </p>
    <h1 id="subheading-title">{{ page.title }}</h1>
    <p id="subheading-description">{{page.description}}</p>
    <a href="{{ page.link }}" target="_blank">
      <div id="google-drive-link">
        <img src="/assets/images/gdrive.png">
        <strong><span>View on Google Drive</span></strong>
      </div>
    </a>
  </div>
</div>


<div class="container iframe-container">
  <iframe src="{{ page.link }}pub?embedded=true" id="IFR" style="background-color: #fff;"></iframe>
</div>