---
layout: default
---
{% include navbar.html %}
<div class="subheading">
  <div class="container">
    <div class="row">
        <p id="subheading-title">{{ page.title }}</p>
        <p id="subheading-description">{{page.description}}</p>
        <p id="breadcrumbs">
          <a href="{{site.url}}">Home</a> 
          > 
          <a href="{{site.url}}/bio">{{page.category}}</a>
          >
          {{ page.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="iframe-container">
	<iframe src={{ page.link }} id="IFR" style="background-color: #fff;"></iframe>
</div>