---
layout: default
---
{% if page.category == "Biology" %}
  {% assign color = "#5F7692" %}
{% else %}
  {% assign color = "#795F92" %}
{% endif %}
<div class="subheading" style="background-color: {{color}}">
  <div class="container">
    <div class="row">
        <p id="subheading-title">{{ page.title }}</p>
        <p id="subheading-description">{{page.description}}</p>
        <p id="breadcrumbs">
          <a href="{{site.url}}">Home</a> 
          > 
          <a href="{{site.url}}/category/{{page.category}}">{{page.category}}</a>
          >
          {{ page.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="iframe-container">
	<iframe src={{ page.link }} id="IFR" style="background-color: #fff;"></iframe>
</div>

{% include footer.html class="footer-guide" %}